@charset "utf-8";
/* CSS Document */

body {
	margin:0px;
	font-family:"微软雅黑" , "arial";
	font-size: 12px;
	color:#515050;
}

p { color:#515050;
    font-size:12px;
	width:95%;
	position:relative;
	line-height:150%;
	text-align:justify;
	}
	
table tr td { 
    font-size:12px;
	/* line-height:200%;*/
	}
	
img.center {margin:auto;}
img.right {float:right; margin:20px 0px 0px 5px;}
img.display {padding:8px; border:#eee solid 1px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 10px; margin-bottom:20px;}

.sub-head {font-size:16px; width:620px; line-height:200%; color:#09C; margin-top:15px; margin-bottom:15px; height:auto; vertical-align:middle; border-top:1px dotted #39C; background-color:#F1FAFA; text-align:center; border-bottom:1px dotted #39C;}

.sub-head-yellow {font-size:16px; width:620px; line-height:200%; color:#F93; margin-top:15px; margin-bottom:15px; height:auto; vertical-align:middle; border-top:1px dotted #F93; background-color:#fdf3db; text-align:center; border-bottom:1px dotted #F93;}

span.header {font-size:18px;
    color:#06C;
	display:block;
	line-height:200%;
	}
	
.main {
	width:944px;
	margin:auto;
	padding-top:40px;
}
.wczc {
	width:620px;
	margin:auto;
}
.aboutm {
	width:916px;
	margin:auto;
}
.maintitle {
	font-family:"宋体";
	color:#273a75;
	padding-top:10px;
	line-height:24px;
	padding-left:14px;
}
.maintitle a {
	color:#777777;
	text-decoration:none;
}
.maintitle a:hover {
	color:#777777;
	text-decoration:underline;
}
.aboutm1 {
	color:#3d90cf;
	font-size:18px;
	padding:40px 0px 0px 38px;
}
.hyqy1 {
	padding-bottom:15px;
	color:#3d90cf;
	padding-left:38px;
	font-size:18px;
}
.aboutm2 {
	width:674px;
	color:#515050;
	line-height:22px;
	padding-left:38px;
	padding-bottom:30px;
	font-size:12px;
}
.aboutm2_2{
	width:604px;
	color:#515050;
	line-height:22px;
	padding-left:38px;
	padding-bottom:10px;
	font-size:12px;
	
}
.aboutm2_2 span{ font-size:14px; color:#e5b81e}
.about_04{ width:118px; height:31px;margin:0 0 17px 410px}
.aboutm3 {
	padding-left:38px;
}
.aboutm31 {
	width:590px;
	padding:12px 0px 0px 33px;
	height:207px;
	background-color:#def1ff;
}

.about_05{ width:624px; height:300px; position: relative}
.about_06{
	width:275px;
	height:121px;
	position: absolute;
	left: 32px;
	top: 64px;
	color:#333;
	font-size:14px;
	line-height:24px;
}
.about_06 span{ color:#126fbc;}
.about_06 b{ width:77px}
.about_07{
	position:absolute;
	width:297px;
	height:40px;
	left: 32px;
	top: 233px;
	color:#333;
	font-size:14px;
	line-height:16px;
}
.about_07 span{ color:#126fbc;}




.aboutm31f {
	width:553px;
	color:#515050;
	line-height:22px;
}
.aboutm4 {
	padding-top:30px;
	color:#3d90cf;
	font-size:18px;
}
.aboutm5 {
	color:#515050;
	font-size:14px;
	line-height:25px;
}
.aboutm5 a {
	color:#515050;
	text-decoration:underline;
}
.aboutm5 a:hover {
	color:#3d90cf;
	text-decoration:underline;
}
.hyhd1 {
	width:690px;
	padding-left:35px;
}
.hyhd11 {
	padding-bottom:8px;
}
.hyhd11f {
	font-size:15px;
	color:#f8ad00;
	padding-left:14px;
}
.hyhd12 {
	font-size:12px;
	line-height:22px;
	color:#515050;
	padding-left:22px;
	padding-bottom:15px;
}
.clear {
	clear:both;
}
.xgdj a {
	color:#0c93eb;
	text-decoration:none;
}
.xgdj a:hover {
	color:#0c93eb;
	text-decoration:underline;
}
.wczct {
	width:598px;
	height:81px;
	padding-top:19px;
	background-image:url(../images/wc01.jpg);
	background-repeat:repeat-x;
	padding-left:22px;
}
.wczcmm {
	background-color:#fbfbfb;
}
.wczcm {
	width:545px;
	margin:auto;
	line-height:30px;
	padding-top:20px;
	color:#343333;
	font-size:13px;
}
.wczcml {
	width:620px;
	height:1px;
	overflow:hidden;
	background-color:#e1e1e1;
	margin-bottom:1px;
}
.wczcm2 {
	background-color:#f3f3f3;
	padding-top:13px;
}
.wczcm2m {
	line-height:20px;
	color:#000f57;
	padding-bottom:20px;
	width:545px;
	margin:auto;
}
.hyqy2 {
	padding-left:38px;
	padding-bottom:15px;
}
.hyqy3 {
	width:608px;
	border:1px solid #011057;
}
.hyqy31 {
	width:608px;
	height:36px;
	line-height:36px;
	background-color:#fbc300;
	color:#05205e;
	font-size:16px;
	line-height:36px;
	text-align:center;
}
.hyqy32 {
	width:608px;
	height:1px;
	overflow:hidden;
	background-color:#011057;
}
.hyqy33 {
	height:36px;
	line-height:36px;
	font-size:16px;
	color:#061456;
}
.hyqy34 {
	height:48px;
	color:#000d57;
	font-size:14px;
}
.hyqy35 {
	height:31px;
	color:#000d57;
	font-size:13px;
}
.hyqy36 {
	line-height:20px;
	padding-left:18px;
	height:50px;
	padding-top:12px;
}
