
#wrapper {
	width:600px;
	margin:0 auto;
	text-align:left;
}
select {
	padding: 3px;
	border: solid 1px #aaa;
	width: 103px;
}
#date_form {
	padding:10px;
	background: #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}